Samples/WpfTester/obj/
Samples/WindowsPhoneSample/obj/
Samples/WindowsPhoneSample/Bin/
WP8/SuiteValue.UI.WP8/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WP8/SuiteValue.UI.WP8/obj/
Desktop/CodeLight.Prism.Desktop/obj/
Desktop/SuiteValue.UI.WPF/obj/
packages/CreateNewNuGetPackageFromProjectAfterEachBuild.1.7.2/content/PostBuildScripts/BuildNewPackage-RanAutomatically.ps1
packages/
Desktop/CodeLight.Mvvm.Desktop/obj/Debug/CodeLight.Mvvm.Desktop.csproj.FileListAbsolute.txt
Portable/SuiteValue.UI.MVVM/obj/Release/SuiteValue.UI.MVVM.csproj.FileListAbsolute.txt
Desktop/CodeLight.Prism.Desktop/bin/Debug/System.Windows.Interactivity.xml
Desktop/CodeLight.Prism.Desktop/bin/Debug/Microsoft.Practices.ServiceLocation.xml
Desktop/CodeLight.Prism.Desktop/bin/Debug/Microsoft.Practices.Prism.xml
Desktop/CodeLight.Prism.Desktop/bin/Debug/Microsoft.Practices.Prism.Interactivity.xml
Desktop/CodeLight.Mvvm.Desktop/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Desktop/CodeLight.Mvvm.Desktop/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Desktop/CodeLight.Mvvm.Desktop/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Desktop/CodeLight.Mvvm.Desktop/obj/Debug/CodeValue.CodeLight.Mvvm.Properties.Resources.resources
Backup/
